---
import BaseLayout from "../layouts/BaseLayout.astro";

const posts = await Astro.glob("./posts/*.mdx");
---

<BaseLayout title="Home">
  <div class="content">
    {posts.map((post) => <a href={post.url}>{post.frontmatter.title}</a>)}
  </div>
</BaseLayout>

<style lang="scss">
  a {
    display: block;
    width: fit-content;

    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
</style>
