---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
  <div class="content">
    <slot />
  </div>
</BaseLayout>

<style lang="scss" is:global>
  .post-body {
    margin-top: 4rem;
  }
</style>
